<nz-sider
  class="menu-sidebar"
  nzCollapsible
  nzWidth="256px"
  [(nzCollapsed)]="isCollapsed"
  [nzTrigger]="null"
>
  <div class="sidebar-logo">
    <a>
      <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo" />
      <h1>Ant Design Of Angular</h1>
    </a>
  </div>

  <ul class="sidebar-list" nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="false">
    <li nz-menu-item nzMatchRouter routerLink="/pages/welcome">
      <i nz-icon nzType="home" nzTheme="outline"></i>
      <span>Welcome</span>
    </li>

    <li nz-submenu nzOpen nzTitle="Pets" nzIcon="gitlab">
      <ul>
        <li nz-menu-item nzMatchRouter routerLink="/pages/pets">
          <i nz-icon nzType="unordered-list" nzTheme="outline"></i>
          <span>List pets</span>
        </li>

        <li nz-menu-item nzMatchRouter>
          <i nz-icon nzType="plus-square" nzTheme="outline"></i>
          <span>Add pet</span>
        </li>
      </ul>
    </li>

    <li nz-submenu nzOpen nzTitle="Vets" nzIcon="experiment">
      <ul>
        <li nz-menu-item nzMatchRouter routerLink="/pages/vets">
          <i nz-icon nzType="unordered-list" nzTheme="outline"></i>
          <span>List vets</span>
        </li>

        <li nz-menu-item nzMatchRouter>
          <i nz-icon nzType="plus-square" nzTheme="outline"></i>
          <span>Add vet</span>
        </li>
      </ul>
    </li>

  </ul>
</nz-sider>
