<p>Goodbye</p>

<button nz-button nzType="primary">Primary Button</button>

<div>
    <i nz-icon nzType="border-outer" nzTheme="outline"></i>
    <i nz-icon nzType="radius-upright" nzTheme="outline"></i>
    <i nz-icon nzType="heat-map" nzTheme="outline"></i>
    <i nz-icon nzType="apple" nzTheme="outline"></i>
    <i nz-icon nzType="windows" nzTheme="outline"></i>
    <i nz-icon nzType="ie" nzTheme="outline"></i>
    <i nz-icon nzType="github" nzTheme="outline"></i>
    <i nz-icon nzType="android" nzTheme="outline"></i>
    <i nz-icon nzType="chrome" nzTheme="outline"></i>
    <i nz-icon [nzType]="'loading'"></i>
    <i nz-icon [nzType]="'sync'" [nzSpin]="true"></i>
</div>